body {
  background-color: rgb(132, 173, 132);
}

.primary-text {
  font-family: 'Nova Mono', monospace;
}

.btn-color {
  background-color: rgba(36, 60, 36, 0.715)
}

.footballGuy {
  cursor: grab;
}

.smallText {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}